.jumbotrone {
    background-image: url("../images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.row.links {
    align-items: flex-start;
}
.col.url {
    width: 400px;
}
.links {
    list-style: none;
    padding-left: 0;
}
.links-title {
    color: $white;
}
.links li a {
    text-decoration: none;
    color: #8c8c8d;
}
.logo-bg {
    height: 400px;
    position: relative;
    bottom: 50px;
}